@charset "utf-8" ;


body
{
    background-image: url(./imagens/backgraud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    
}
h1,h2,h3,h4,h5,h6{
    text-align: left;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    text-align: left;
    font-size: 35px;
}
/*confi.menu*/
ul {
margin: 0;
padding: 100px;
}

li {
list-style: none; 
margin: 50px;
display: inline;
}
li a {
padding: 5px 10px; 
margin: 0;
border: 0px solid #f00; 
background: rgb(196, 15, 15);
text-decoration: none;
color:#FFF;
padding: 13px 13px;
/* cantos arredondados */
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}
li a:hover {
background: #CCC;
color: #000; 
border-color: #000;
}
header {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    text-align: center;
    top: 0;
    background-color:white;
    padding: 30px;
}
/*configurações de.img */
.zoom {
	overflow: hidden;
	display: inline-block;
	width: 230px;
    height: 230px;
}

.zoom img{
	max-width: 100%;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/*configurações paragrafo */
p{
    color: white;
    font-family: sans-serif;
    margin: 25px;
    font-size: 18px;
}
span{
    font-family:Arial;
    color: white;
    font-size: 15px ;
    text-align:justify;
    
}.body3{
    background-color:#1b0f30;
    
}
